.my-modal {

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000aa;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        min-width: 50vw;
        min-height: 50vh;
        background-color: white;
        position: relative;
        padding: 2em;
    }

    &__close-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 1em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        font-size: 3em;
        cursor: pointer;
    }
}